/* src/components/Scene/SceneContainer.css */

.scene-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 10; /* Ensure it appears above other elements */
}

.scene-container.visible {
  transform: translateY(0);
}

.scene-map {
  width: 100%;
  height: 100%;
}
